@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
/* ---- estilos generales para todos los dados ----- */
h1{
	text-align: center;
}
section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#dados {
	display: flex;

}

[class^="dado-"] {
/*	width: 100px;
	height: 100px;*/
	width: 4rem;
	height: 4rem;
	margin: 1rem;
	padding: 0.8rem;
	background-color: white;
	border-radius: 1rem;
	display: flex;
}
.punto {
	width: 1.1em;
	height: 1.1em;
	background-color: black;
	border-radius: 50%;
}
/* ---- dado 1 ----- */
.dado-1{
	justify-content: center;
	align-items: center;
}
/* ---- dado 2 ----- */
.dado-2{
	justify-content: space-between;
}
.dado-2 .punto:nth-child(2) {
	align-self: flex-end;
}
/* ---- dado 3 ----- */
.dado-3 {
	justify-content: space-between;
}
.dado-3 .punto:nth-child(2) {
	align-self: center;
}
.dado-3 .punto:nth-child(3) {
	align-self: flex-end;
}
/* ---- dado 4 ----- */
.dado-4 {
	justify-content: space-between;
}
.dado-4 .columna {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}
/* ---- dado 5 ----- */
.dado-5 {
	justify-content: space-between;
}
.dado-5 .columna {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}
.dado-5 .punto:nth-child(2){
	align-self: center;
}
/* ---- dado 6 ----- */
.dado-6 {
	justify-content: space-between;
}
.dado-6 .columna {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: center;
}
/* flex-wrap | align-content | flex-basis | order */
.flex-container {
	width: 80rem;
	height: 50rem;
	background-color: #66ff3c;
	margin: auto;
	display: flex;
	flex-wrap: wrap;  /*nowrap | wrap | wrap-reverse */
	align-content: flex-start;
}
.flex-item {
	background-color: tomato;
	width: 19.7em;			/* Tuve que descontar el border, de los dos lados. */
	height: 19.7em;
	border: 0.15em solid black;
}
.flex-item:nth-child(even) {
	background-color: orange;
}